@charset 'UTF-8';

:root {
    --cor_White: #ffffff;
    --cor_Light_gray: #d6e2f0;
    --cor_Grayish_blue: #7b879d;
    --cor_Dark_blue: #1f3251;
}

* {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

body {
    position: absolute;
}

.conteudo {
    font-size: 1.25em;
    text-align: center;
}

.destaque {
    font-size: 1.75em;
    font-weight: 700;
}

.attribution { 
    font-size: 11px; 
    position: relative;
    bottom: 0px;
}

.attribution a { 
    color: #3e52a3;
}

/* Mobile(375px) */

@media screen and (min-width: 375px) and (max-width: 1440px) {
    body {
        margin: 1.17em;
    }
    
    img {
        width: 400px;
        display: block;
        margin: 6em auto;
        margin-bottom: 0.65em;
    }
}

/* Desktop(1440px) */

@media screen and (min-width: 1440px) {
    body {
        margin: 4.5em 9em;
        overflow: hidden;
    }
    
    img {
        display: block;
        margin: 9em auto;
        margin-bottom: 2.5em;
    }
}
